extends  ../_skeleton

//- Includes
include ../elements/_ui-material-parallax
include ../elements/_ui-rd-video

block variables
  - var activeIndex = 1
  - var pageClass = 'text-center'
  - var buyHref = '//www.templatemonster.com/website-templates/monstroid2.html'
  - var indexHref = 'index-home.html'

block title
  title Home

block page
  // Page Header
  include ../sections/_header-landing-default
  
  section#home.section
    .swiper-container.swiper-slider.swiper-slider_fullheight(data-simulate-touch="false", data-loop='false', data-autoplay='false')
      .swiper-wrapper
        .swiper-slide.bg-gray-lighter(data-slide-bg='images/slider-slide-1-1920x980.jpg')
          .swiper-slide-caption.text-left
            .container
              .row.justify-content-lg-between.justify-content-center
                .col-xl-4.col-lg-5.offset-xl-1
                  .oveflow-wrapper
                    h5.big.text-accent(data-caption-animate='fadeInUp' data-caption-delay='400') Brand New & Improved!
                  .oveflow-wrapper
                    h1(data-caption-animate='fadeInUp' data-caption-delay='500') Monstroid²
                  p(data-caption-animate='fadeInUp' data-caption-delay='600') Monstroid² boasts clean and crispy design, bulletproof layout consistence and intuitive navigation.
                  ul.group.text-xs-nowrap
                    li
                      a(href=indexHref data-caption-animate='fadeInUp' data-caption-delay='500').button.button-white Live demo
                    

                .col-md-9.col-xl-7.col-lg-6
                  img(src="images/landing/home-14.png", alt="")

        .swiper-slide.bg-accent(data-slide-bg='images/slider-slide-2-1920x980.jpg')
          .swiper-slide-caption.text-center
            .container
              h2(data-caption-animate='fadeInUp' data-caption-delay='300') Create and Customize Your Own Website
              h3(data-caption-animate='fadeInUp' data-caption-delay='400') It has never been easier!
              a(href=indexHref data-caption-animate='fadeInUp' data-caption-delay='500').button.button-white Live demo

        .swiper-slide.swiper-slide_video.context-dark.video-bg-overlay
          +vide-bg({
            "src": "video/video-lg"
          })
            .swiper-slide-caption.text-center
              .container
                h2(data-caption-animate='fadeInUpSmall') Built by geeks & used by humans
                h5.text-width-2.block-centered(data-caption-animate='fadeInUpSmall', data-caption-delay='200') Monstroid#[sup 2] aims to satisfy real needs of real projects. We've got a pack of tools for that.
                .group-lg.group-middle
                  a.button.button-black(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href='#' + seeFeaturesLink, data-custom-scroll-to=seeFeaturesLink) See Features
                  a.button.button-primary(data-caption-animate='fadeInUpSmall', data-caption-delay='350', href=getTemplateLink) Buy template
                  

      // Swiper Navigation
      .swiper-button-prev.linear-icon-chevron-left
      .swiper-button-next.linear-icon-chevron-right

  ='\n'
  
  section.section.section-md.context-dark.bg-accent.section-cta
    .container
      .row.row-50.align-items-center.justify-content-center.justify-content-xl-between
        .col-lg-7.col-xl-9.text-center.text-xl-left
          h3
            span.font-weight-bold Monstroid² 
            | #[br.d-xxl-none]
            |  is the perfect start of your future website
          h6 We took into consideration all of the latest innovative user experience researches and the best practices.
        .col-xl-2.text-center
          a(target='_blank' href=buyHref).button.button-primary Get it now

  section.section-xl.text-center.bg-gray-lighter#features
    .container
      // Text Rotator
      h2='Features are'
        span.text-rotator(data-text-class='text-accent-2 font-accent', data-enable='1200', data-words='...flexible,...ready to use,...customizable', data-rotate-interval='3000', data-rotate-animation='fadeInUp, fadeOutUp')
          span.rotate-area
      .row.row-60.justify-content-center.offset-top-2
        .col-lg-3.col-md-5.col-sm-6
          article.box-counter
            .box-counter__icon.icon-primary-secondary.icon-xxl.linear-icon-layers
            .box-counter__wrap
              .counter 90
              span +
            p.box-counter__title HTML Pages
          
        .col-lg-3.col-md-5.col-sm-6
          article.box-counter
            .box-counter__icon.icon-primary-secondary.icon-xxl.linear-icon-files
            .box-counter__wrap
              // CountTo
              .counter-svg
                svg(version='1.1', x='0px', y='0px', width='44', height='37', viewbox='0 0 81.196 40.831', style='enable-background:new 0 0 81.196 40.831;', xml:space='preserve')
                  g
                    g
                      path(style='clip-path:url(#SVGID_2_);', d='M61.521,0c-5.378,0-10.435,2.094-14.174,5.81l-6.516,6.265l-6.428-6.171\
                      C30.6,2.094,25.543,0,20.165,0C14.763,0,9.706,2.094,5.903,5.903C2.094,9.706,0,14.763,0,20.165C0,25.543,2.094,30.6,5.903,34.403\
                      c3.803,3.809,8.86,5.903,14.262,5.903c5.378,0,10.435-2.071,14.174-5.81l6.492-6.241l6.428,6.148\
                      c3.803,3.809,8.86,5.903,14.262,5.903c5.378,0,10.436-2.071,14.239-5.903c3.809-3.803,5.903-8.86,5.903-14.239\
                      c0-5.401-2.094-10.459-5.903-14.262C71.956,2.094,66.899,0,61.521,0L61.521,0z M26.155,26.155c-3.208,3.214-8.79,3.214-12.004,0\
                      c-1.598-1.616-2.485-3.733-2.485-5.991c0-2.281,0.886-4.398,2.508-6.014c1.592-1.598,3.71-2.485,5.991-2.485\
                      c2.257,0,4.398,0.887,6.084,2.572l6.177,5.926L26.155,26.155z M67.512,26.155c-3.214,3.214-8.703,3.284-12.098-0.088l-6.154-5.926\
                      l6.247-5.991c3.208-3.214,8.791-3.214,12.004,0c1.598,1.592,2.485,3.733,2.485,5.991C69.997,22.422,69.11,24.54,67.512,26.155\
                      L67.512,26.155z')
                      
            p.box-counter__title Unlimited Layouts
        .col-lg-3.col-md-5.col-sm-6
          article.box-counter
            .box-counter__icon.icon-primary-secondary.icon-xxl.linear-icon-document
            .box-counter__wrap
              .counter 17
            p.box-counter__title Different Layouts
        .col-lg-3.col-md-5.col-sm-6
          article.box-counter
            .box-counter__icon.icon-primary-secondary.icon-xxl.linear-icon-thumbs-up
            .box-counter__wrap
              .counter 10
            p.box-counter__title Years of Experience

          
  section.section-xl.bg-default.text-center#niche
    .container.container-spacing-30
      h2 Pre-made layouts
      p.text-gray Use these pre-made layouts with any page of Monstroid².
      .row.row-50.row-lg-90.offset-top-2
        .col-xl-3.col-lg-4.col-md-6
          a.thumbnail-type-2(href='index-home.html')
            figure
              img(src='images/landing/monstr-home-1.jpg', width='350', height='350', alt='')
            .caption
              .caption-title home default
        .col-xl-3.col-lg-4.col-md-6
          a.thumbnail-type-2(href='home-business.html')
            figure
              img(src='images/landing/monstr-home-2.jpg', width='350', height='350', alt='')
            .caption
              .caption-title home business
        .col-xl-3.col-lg-4.col-md-6
          a.thumbnail-type-2(href='home-commercial.html')
            figure
              img(src='images/landing/monstr-home-3.jpg', width='350', height='350', alt='')
            .caption
              .caption-title home commercial
        .col-xl-3.col-lg-4.col-md-6
          a.thumbnail-type-2(href='home-creative.html')
            figure
              img(src='images/landing/monstr-home-4.jpg', width='350', height='350', alt='')
            .caption
              .caption-title home creative
        .col-xl-3.col-lg-4.col-md-6
          a.thumbnail-type-2(href='home-minimal.html')
            figure
              img(src='images/landing/monstr-home-5.jpg', width='350', height='350', alt='')
            .caption
              .caption-title home minimal
        .col-xl-3.col-lg-4.col-md-6
          a.thumbnail-type-2(href='home-modern.html')
            figure
              img(src='images/landing/monstr-home-6.jpg', width='350', height='350', alt='')
            .caption
              .caption-title home modern
        .col-xl-3.col-lg-4.col-md-6
          a.thumbnail-type-2(href='home-personal.html')
            figure
              img(src='images/landing/monstr-home-7.jpg', width='350', height='350', alt='')
            .caption
              .caption-title home personal
        .col-xl-3.col-lg-4.col-md-6
          a.thumbnail-type-2(href='home-default-1.html')
            span.label New
            figure
              img(src='images/landing/monstr-home-default-1.jpeg', width='350', height='350', alt='')
            .caption
              .caption-title home default 1

        #goal.col-lg-12.d-none(data-custom-toggle-goal='')
          .row.row-50.row-lg-90
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='home-default-2.html')
                span.label New
                figure
                  img(src='images/landing/monstr-home-default-2.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title home default 2
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='home-default-3.html')
                span.label New
                figure
                  img(src='images/landing/monstr-home-default-3.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title home default 3
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='home-default-4.html')
                span.label New
                figure
                  img(src='images/landing/monstr-home-default-4.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title home default 4
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='home-default-5.html')
                span.label New
                figure
                  img(src='images/landing/monstr-home-default-5.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title home default 5
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='home-default-6.html')
                span.label New
                figure
                  img(src='images/landing/monstr-home-default-6.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title home default 6
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='home-default-7.html')
                span.label New
                figure
                  img(src='images/landing/monstr-home-default-7.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title home default 7 
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='home-default-8.html')
                span.label New
                figure
                  img(src='images/landing/monstr-home-default-8.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title home default 8
            
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='header-default.html')
                figure
                  img(src='images/landing/monstr-home-1-header.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title header default
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='header-default-dark.html')
                figure
                  img(src='images/landing/monstr-home-2-header.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title header default-dark
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='header-sidebar-inverse.html')
                figure
                  img(src='images/landing/monstr-home-8-header.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title header sidebar inverse
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='header-creative.html')
                figure
                  img(src='images/landing/monstr-home-4-header.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title header creative
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='header-corporate.html')
                figure
                  img(src='images/landing/monstr-home-5-header.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title header corporate
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='header-transparent.html')
                figure
                  img(src='images/landing/monstr-home-6-header.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title header transparent
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='header-sidebar.html')
                figure
                  img(src='images/landing/monstr-home-7-header.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title header sidebar
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='header-modern.html')
                figure
                  img(src='images/landing/monstr-home-3-header.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title header modern
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='footer-corporate.html')
                figure
                  img(src='images/landing/monstr-home-1-footer.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title home footer 1
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='footer-minimal.html')
                figure
                  img(src='images/landing/monstr-home-2-footer.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title home footer 2
            .col-xl-3.col-lg-4.col-md-6
              a.thumbnail-type-2(href='footer-modern.html')
                figure
                  img(src='images/landing/monstr-home-3-footer.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title home footer 3
            
        #goal-2.col-lg-12.text-center.offset-top-40
          button.button.button-primary(data-custom-toggle='#goal, #goal-2', data-custom-toggle-disable-on-blur='true') View more

  section.section.bg-gray-lighter.section-xl.text-center#pages 
    .container.container-spacing-30
      h2 Pages 
      .isotope-wrap.row.row-70
        .col-sm-12
          ul.list-nav.isotope-filters.isotope-filters-horizontal
            li: a.active(data-isotope-filter='*', data-isotope-group='gallery' href='#') All
            li: a(data-isotope-filter='Pages', data-isotope-group='gallery' href='#') Pages
            li: a(data-isotope-filter='Events', data-isotope-group='gallery' href='#') Events
            li: a(data-isotope-filter='Blog', data-isotope-group='gallery' href='#') Blog
            li: a(data-isotope-filter='Gallery', data-isotope-group='gallery' href='#') Gallery
            li: a(data-isotope-filter='Shop', data-isotope-group='gallery' href='#') Shop
            li: a(data-isotope-filter='Elements', data-isotope-group='gallery' href='#') Elements

          .isotope.row(data-isotope-layout='fitRows', data-isotope-group='gallery')
            //pages 
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='about.html')
                figure
                  img(src='images/landing/monstr-pages-1.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title About
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='our-team.html')
                figure
                  img(src='images/landing/monstr-pages-2.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Our Team
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='team-member-profile.html')
                figure
                  img(src='images/landing/monstr-pages-3.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Team member Profile
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='services.html')
                figure
                  img(src='images/landing/monstr-pages-4.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Services
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='single-service-page.html')
                figure
                  img(src='images/landing/monstr-pages-5.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Single Service Page
                    
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='our-story.html')
                figure
                  img(src='images/landing/monstr-pages-6.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Our Story
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='monthly-events.html')
                figure
                  img(src='images/landing/monstr-pages-7.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Monthly Events
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='booking.html')
                figure
                  img(src='images/landing/monstr-pages-8.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Booking
                    
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='contacts.html')
                figure
                  img(src='images/landing/monstr-pages-9.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Contacts
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='faqs.html')
                figure
                  img(src='images/landing/monstr-pages-10.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title FAQs
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='pricing.html')
                figure
                  img(src='images/landing/monstr-pages-11.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Pricing
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='careers.html')
                figure
                  img(src='images/landing/monstr-pages-12.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Careers
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='clients.html')
                figure
                  img(src='images/landing/monstr-pages-13.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Clients
                    
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='maintenance.html')
                figure
                  img(src='images/landing/monstr-pages-14.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Maintenance
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='404-page.html')
                figure
                  img(src='images/landing/monstr-pages-15.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title 404 Page
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='search-results.html')
                figure
                  img(src='images/landing/monstr-pages-16.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Search Results
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='coming-soon.html')
                figure
                  img(src='images/landing/monstr-pages-17.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Coming Soon
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Pages')
              a.thumbnail-type-2(href='privacy-policy.html')
                figure
                  img(src='images/landing/monstr-pages-18.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title Privacy Policy
            
            //Events
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Events')
              a.thumbnail-type-2(href='monthly-events.html')
                figure
                  img(src='images/landing/monstr-event-1.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Monthly Events
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Events')
              a.thumbnail-type-2(href='event-list.html')
                figure
                  img(src='images/landing/monstr-event-2.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Event List
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Events')
              a.thumbnail-type-2(href='single-event.html')
                figure
                  img(src='images/landing/monstr-event-3.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Single Event
                    
            //blog 
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='standard-post.html')
                figure
                  img(src='images/landing/monstr-blog-post-1.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Standard post
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='nonstandard-post-with-sidebar.html')
                figure
                  img(src='images/landing/monstr-blog-post-2.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Nonstandard post with sidebar
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog') 
              a.thumbnail-type-2(href='nonstandard-post.html')
                figure
                  img(src='images/landing/monstr-blog-post-3.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Nonstandard post
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='gallery-post.html')
                figure
                  img(src='images/landing/monstr-blog-post-4.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Gallery post
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='image-post.html')
                figure
                  img(src='images/landing/monstr-blog-post-5.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Image post
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='link-post.html')
                figure
                  img(src='images/landing/monstr-blog-post-6.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Link post
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='quote-post.html')
                figure
                  img(src='images/landing/monstr-blog-post-7.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Quote post
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='video-post.html')
                figure
                  img(src='images/landing/monstr-blog-post-8.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Video post
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='audio-post.html')
                figure
                  img(src='images/landing/monstr-blog-post-9.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Audio post
                    
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='classic-blog.html')
                figure
                  img(src='images/landing/monstr-blog-1.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Classic Blog
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='grid-blog.html')
                figure
                  img(src='images/landing/monstr-blog-2.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Grid Blog
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='masonry-blog.html')
                figure
                  img(src='images/landing/monstr-blog-3.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Masonry Blog
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='justify-blog.html')
                figure
                  img(src='images/landing/monstr-blog-4.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Justify Blog
                    
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='left-sidebar.html')
                figure
                  img(src='images/landing/monstr-blog-sidebar-1.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title Left Sidebar
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='right-sidebar.html')
                figure
                  img(src='images/landing/monstr-blog-sidebar-2.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title Right Sidebar
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Blog')
              a.thumbnail-type-2(href='no-sidebar.html')
                figure
                  img(src='images/landing/monstr-blog-sidebar-3.jpeg', width='350', height='350', alt='')
                .caption
                  .caption-title No Sidebar
                    
            //Gallery
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Gallery')
              a.thumbnail-type-2(href='portfolio.html')
                figure
                  img(src='images/landing/monstr-gallery-1.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Portfolio
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Gallery')
              a.thumbnail-type-2(href='single-portfolio.html')
                figure
                  img(src='images/landing/monstr-gallery-2.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Single Portfolio
                    
            //Shop
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Shop')
              a.thumbnail-type-2(href='shop-grid.html')
                figure
                  img(src='images/landing/monstr-shop-1.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Shop Grid
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Shop')
              a.thumbnail-type-2(href='shop-list.html')
                figure
                  img(src='images/landing/monstr-shop-2.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Shop List
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Shop')
              a.thumbnail-type-2(href='single-product.html')
                figure
                  img(src='images/landing/monstr-shop-3.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Single product
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Shop')
              a.thumbnail-type-2(href='cart.html')
                figure
                  img(src='images/landing/monstr-shop-4.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Cart
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Shop')
              a.thumbnail-type-2(href='checkout.html')
                figure
                  img(src='images/landing/monstr-shop-5.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Checkout
                    
            // Elements
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='accordion.html')
                figure
                  img(src='images/landing/monstr-element-1.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Accordion
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='audio.html')
                figure
                  img(src='images/landing/monstr-element-2.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Audio
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='blurb.html')
                figure
                  img(src='images/landing/monstr-element-3.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Blurb
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='buttons.html')
                figure
                  img(src='images/landing/monstr-element-4.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Buttons
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='typography.html')
                figure
                  img(src='images/landing/monstr-element-5.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Typography
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='testimonials.html')
                figure
                  img(src='images/landing/monstr-element-6.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Testimonials
                    
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='text.html')
                figure
                  img(src='images/landing/monstr-element-7.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Text
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='countdown.html')
                figure
                  img(src='images/landing/monstr-element-8.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Countdown
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='animated-counter.html')
                figure
                  img(src='images/landing/monstr-element-9.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Animated Counter
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='number-counter.html')
                figure
                  img(src='images/landing/monstr-element-10.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Number Counter
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='circles-counter.html')
                figure
                  img(src='images/landing/monstr-element-11.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Circles Counter
                    
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='pricing-table.html')
                figure
                  img(src='images/landing/monstr-element-12.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Pricing Table
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='images.html')
                figure
                  img(src='images/landing/monstr-element-13.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Images
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='person.html')
                figure
                  img(src='images/landing/monstr-element-14.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Person
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='slider.html')
                figure
                  img(src='images/landing/monstr-element-15.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Slider
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='call-to-action.html')
                figure
                  img(src='images/landing/monstr-element-16.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Call To Action
            
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='toggles.html')
                figure
                  img(src='images/landing/monstr-element-17.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Toggles
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='tabs.html')
                figure
                  img(src='images/landing/monstr-element-18.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Tabs
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='contact-forms.html')
                figure
                  img(src='images/landing/monstr-element-19.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Contact Forms
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='maps.html')
                figure
                  img(src='images/landing/monstr-element-20.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Maps
            .col-xl-3.col-lg-4.col-md-6.isotope-item(data-filter='Elements')
              a.thumbnail-type-2(href='social-sharing.html')
                figure
                  img(src='images/landing/monstr-element-21.jpg', width='350', height='350', alt='')
                .caption
                  .caption-title Social Sharing
                    
  
  section.section.section-md.context-dark.bg-accent.section-cta
    .container
      .row.row-50.align-items-center.justify-content-center.justify-content-xl-between
        .col-lg-7.col-xl-9.text-center.text-xl-left
          h3
            span.font-weight-bold Monstroid² 
            | is a flexible solution with lots of advantages
          h5 Our template offers you  a variety of elements to be combined.
        .col-xl-2.text-center
          a(target='_blank' href=buyHref).button.button-primary Get it now 
          

  section.section.bg-default.section-xl.text-center
    .container
      h2.wow.fadeInUp Monstroid² Advantages
      .row.justify-content-center.row-60.offset-top-2
        .col-xl-3.col-md-6
          article.blurb.blurb-circle.blurb-circle_centered
            span.icon.icon-primary-secondary.icon-circle.icon-lg.linear-icon-inbox.wow.fadeInUp
            p.blurb__title.wow.fadeInUp(data-wow-delay="0.1s") Accelerate development
            p.wow.fadeInUp(data-wow-delay="0.2s") Speedup your project development in 2 or even 3 times using this template.
            
        .col-xl-3.col-md-6
          article.blurb.blurb-circle.blurb-circle_centered
            span.icon.icon-primary-secondary.icon-circle.icon-lg.linear-icon-bubble-question.wow.fadeInUp
            p.blurb__title.wow.fadeInUp(data-wow-delay="0.1s") Reduce your QA
            p.wow.fadeInUp(data-wow-delay="0.2s") Thanks to this template, your project fixes will be made in a blink of the eye.
            
        .col-xl-3.col-md-6
          article.blurb.blurb-circle.blurb-circle_centered
            span.icon.icon-primary-secondary.icon-circle.icon-lg.linear-icon-coin-dollar.wow.fadeInUp
            p.blurb__title.wow.fadeInUp(data-wow-delay="0.1s") Save your money
            p.wow.fadeInUp(data-wow-delay="0.2s") An accelerated development lets you save a thousands of dollars on creating your projects. 
         
        .col-xl-3.col-md-6
          article.blurb.blurb-circle.blurb-circle_centered
            span.icon.icon-primary-secondary.icon-circle.icon-lg.linear-icon-thumbs-up.wow.fadeInUp
            p.blurb__title.wow.fadeInUp(data-wow-delay="0.1s") Suggest and get satisfied
            p.wow.fadeInUp(data-wow-delay="0.2s") The main idea is to create a product by people for the people.
            
  section.section.section-xs.bg-accent.context-dark
    .container
      .row.align-items-center.justify-content-xl-between
        .col-xl-4.image-wrapper.d-none.d-xl-block
          img(src="images/landing/home-16.png", alt="").image__item
        .col-xl-6.offset-xxl-1.text-lg-left.section-60
          h2 Optimized for Mobile Devices
          .row.text-sm-left.offset-top-60
            .col-md-6
              .unit.flex-sm-row.flex-md-row.flex-lg-row.flex-xl-row
                .unit-left
                  span.icon.icon-lg.linear-icon-laptop
                .unit-body
                  h5.font-weight-bold 100% Responsive
                  p Monstroid² is fully responsive and will adapt itself to any mobile or tablet device.
            .col-md-6
              .unit.flex-sm-row.flex-md-row.flex-lg-row.flex-xl-row
                .unit-left
                  span.icon.icon-lg.linear-icon-eye
                .unit-body
                  h5.font-weight-bold Retina Ready
                  p Monstroid² is Retina Ready and it guarantees that your website will always look perfect on any device.
                  

  section.section.bg-default.section-xl.text-center
    .container
      .row.row-50.justify-content-xl-between
        .col-xl-4.image-wrapper-2.order-xl-1.d-none.d-md-block
          img(src="images/landing/home-14.png", alt="").image__item
        .col-lg-6.col-xl-4.text-xl-right
          .inset-xxl-right-80
            .row.row-xl-80.row-50
              .col-xl-12.col-md-6
                .unit.flex-column.flex-lg-column.flex-xl-row.flex-xl-row-reverse
                  .unit-left
                    span.icon.icon-lg.icon-primary-secondary.linear-icon-magnifier
                  .unit-body
                    h5 SEO Friendly
                    p.d-lg-none.d-xl-block Valid code and performance optimized framework make SEO easy and hassle-free.
              .col-xl-12.col-md-6
                .unit.flex-column.flex-lg-column.flex-xl-row.flex-xl-row-reverse
                  .unit-left
                    span.icon.icon-lg.icon-primary-secondary.linear-icon-desktop
                  .unit-body
                    h5 Advanced UI Kit
                    p.d-lg-none.d-xl-block Monstroid² comes with a powerful and flexible extended toolkit in addition to basic Bootstrap.
        .col-lg-6.col-xl-4.text-xl-left.order-xl-2
          .inset-xxl-left-80
            .row.row-xl-80.row-50
              .col-xl-12.col-md-6
                .unit.flex-column.flex-lg-column.flex-xl-row.flex-xxl-row
                  .unit-left
                    span.icon.icon-lg.icon-primary-secondary.linear-icon-rocket
                  .unit-body
                    h5 Powerful flexbox grid system
                    p.d-lg-none.d-xl-block Monstroid² includes a powerful mobile-first flexbox grid system for building layouts.
              .col-xl-12.col-md-6
                .unit.flex-column.flex-lg-column.flex-xl-row.flex-xxl-row
                  .unit-left
                    span.icon.icon-lg.icon-primary-secondary.linear-icon-cog
                  .unit-body
                    h5 Flexible and Multipurpose
                    p.d-lg-none.d-xl-block Monstroid² allows to create various websites for complex and scalable projects.

  section.section.section-md.context-dark.bg-accent.section-cta
    .container
      .row.row-50.align-items-center.justify-content-center.justify-content-xl-between
        .col-lg-7.col-xl-10.text-center.text-xl-left
          h3
            span.font-weight-bold='Monstroid² '
            | #[br.d-xxl-none]
            | is a perfect web design solution for everybody
          h5 Become the owner of the best solutions for creating your own website!
        .col-xl-2.text-center
          a(target='_blank' href=buyHref).button.button-primary Get it now

  section#updates.section.bg-gray-lighter.section-sm.section-lg-top-0.section-lg-bottom-0
    .container
      .row.align-items-center.justify-content-center.justify-content-lg-between
        .col-sm-7.col-md-5.col-lg-4.col-xxl-4.image-wrapper-3.text-xl-right.d-none.d-sm-block.wow.fadeInUp
          img(src="images/landing/home-15.png", alt="").image__item
        .col-lg-8.col-xxl-7.section-lg-60.text-lg-left.offset-top-0
          h3(data-wow-delay="0.15s").wow.fadeInRight='Buy Monstroid² Once and Get '
            span.font-weight-bold Free Updates
          h5.wow.fadeInRight(data-wow-delay="0.20s") Enjoy a range of new layouts and child themes with regular free updates.
  section.section.bg-default.section-xl#section-see-features
    .container
      h2.wow.fadeInUp Key Features
      .row.row-50.text-left.wow.fadeInUp.offset-top-2(data-wow-delay="0.2s")
        .col-xl-3.col-lg-4.col-md-6
          .unit.flex-row.align-items-center.unit-spacing-xs
            .unit-left
              span.icon.icon-primary-secondary.icon-circle.linear-icon-check.icon-sm
            .unit-body
              h6 HTML5 + JS + CSS + SCSS
        .col-xl-3.col-lg-4.col-md-6
          .unit.flex-row.align-items-center.unit-spacing-xs
            .unit-left
              span.icon.icon-primary-secondary.icon-circle.icon-sm.linear-icon-check
            .unit-body
              h6 Bootstrap 4+
        .col-xl-3.col-lg-4.col-md-6
          .unit.flex-row.align-items-center.unit-spacing-xs
            .unit-left
              span.icon.icon-primary-secondary.icon-circle.icon-sm.linear-icon-check
            .unit-body
              h6 Blog Pages
        .col-xl-3.col-lg-4.col-md-6
          .unit.flex-row.align-items-center.unit-spacing-xs
            .unit-left
              span.icon.icon-primary-secondary.icon-circle.icon-sm.linear-icon-check
            .unit-body
              h6 Shop Pages
        .col-xl-3.col-lg-4.col-md-6
          .unit.flex-row.align-items-center.unit-spacing-xs
            .unit-left
              span.icon.icon-primary-secondary.icon-circle.icon-sm.linear-icon-check
            .unit-body
              h6 SEO Optimized
        .col-xl-3.col-lg-4.col-md-6
          .unit.flex-row.align-items-center.unit-spacing-xs
            .unit-left
              span.icon.icon-primary-secondary.icon-circle.icon-sm.linear-icon-check
            .unit-body
              h6 Google Fonts Support
        .col-xl-3.col-lg-4.col-md-6
          .unit.flex-row.align-items-center.unit-spacing-xs
            .unit-left
              span.icon.icon-primary-secondary.icon-circle.icon-sm.linear-icon-check
            .unit-body
              h6 Amazing Plugins
        .col-xl-3.col-lg-4.col-md-6
          .unit.flex-row.align-items-center.unit-spacing-xs
            .unit-left
              span.icon.icon-primary-secondary.icon-circle.icon-sm.linear-icon-check
            .unit-body
              h6 Premium Resources


  section.section.section-md.context-dark.bg-accent.section-cta
    .container
      .row.row-50.align-items-center.justify-content-center.justify-content-xl-between
        .col-xl-8.text-xl-left
          h3
            | 24/7 Effective and Friendly 
            span.font-weight-bold=' Premium Support'
        .col-xl-2.text-xl-right
          a(target='_blank' href=buyHref).button.button-primary Get it now


  // Page Footer
  include ../sections/_footer-minimal

